#entryinput {
  width: 100%;
  margin: 0 5%;
  font-size: 15px;
  font-family: verdana;
  border: 1px solid black;
  color: back;
}

#button {
  width: 100%;
  margin: 0 5%;
  font-size: 15px;
  font-family: verdana;
  padding: 1% 1%;
  border: 1px solid black;
  color: back;
}
  
body {
  font-family: verdana;
}
