#entryinput {
  width: 30%;
  font-size: 15px;
  font-family: verdana;
  border: 1px solid black;
  box-sizing: border-box;
}

#button {
  width: 30%;
  font-size: 15px;
  font-family: verdana;
  border: 1px solid black;
}

#button: hover {
 background-color: black;
 color: white;
}

body {
  font-family: verdana;
}

#container {
   margin: 10% 35%;
}
