#entryinput {
  width: 700px;
  font-size: 15px;
  font-family: verdana;
  padding: 3px 5px;
  border: 1px solid black;
  box-sizing: border-box;
}

#button {
  width: 700px;
  font-size: 15px;
  font-family: verdana;
  padding: 3px 5px;
  border: 1px solid black;
}

#button: hover {
  margin-top: 5%;
  background-color: black;
  color: white;
}

body {
  font-family: verdana;
  margin: 5%;
}
